@charset "UTF-8";
@font-face {
    font-family: 'Croissant';
    src: url("fontes/Super\ Croissant.ttf");
}
@font-face {
   font-family: 'Mamboe';
    src: url('fontes/Mamboe\ Trial.otf');
}
@font-face {
    font-family: 'RobotoItalico' ;
    src: url('fontes/RobotoMono-Italic-VariableFont_wght.ttf');
}
@font-face {
    font-family: 'Roboto';
    src: url('fontes/RobotoMono-VariableFont_wght.ttf');
}

*{
    margin: 0px;
    padding: 0px;
    color: black;
    font-family: var(--FontRoboto);

}
:root{
    --FontRoboto:'Roboto';
    --FontRobotoItalico: 'RobotoItalico';
    --fontMaboe:'Mamboe';
    --fontCroissant: 'Croissant';
    --CorVioletNoite: #301934;
    --CorVerdfosco:#D8F1A0 ;
    --CorTomate:#FE5E41;
    --CorCatchupe:#be1e02;
    --CorAmarelo: #F09A18;
    --CorSelva1:#00A878;
     --CorSelva2:#084d39;
     --CorVerdeEscurão:#004727;
    --corCinzaChumbo:#35393C;
}


html,body{
     position: relative;
      background-image: url('fotos/fundos/download\ \(6\).jpg');
      background-repeat: no-repeat;
      background-attachment: fixed;
        background-size: cover;    
}


header{
    position: sticky;
    top: 0;
    
    background-color: ;
    display: flex;
    margin: auto;
    max-width: 600vw;
    background-image: url('fotos/fundos/download\ \(6\).jpg');
    background-size: cover;
    background-attachment: fixed;
       

    

}
header  h1 a {
    text-decoration: none;
    padding-top: 20px;
    padding-left: 30px;
    color:var(--CorCatchupe);
    font-family: var(--fontMaboe);
    font-size: 7vw;
    
}
nav h1{
    position: relative;
    left: 50px;
    top: 2px;
    color: #F09A18;
    font-size:5vw;
    
}
nav h1:hover {
    background-image: url('fotos/fundos/download\ \(6\).jpg');
    background-size: cover;
    padding: 10px;
    border-radius: 20px;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
}


main{
   
     padding: 20px;
    /* width: 93%;
    max-height: 100%; */
    margin: auto;
    margin-top: 20px;
  
   
}



article{
     background-color: #a34040;
    height: 100%;
    max-width: 100vh    
}

.galeria{
    margin: auto;
    padding-top: 40px;
    padding-left: 40px;
    

}

.galeria  section img{
    height: 100%;
    border-radius: 20px;
    display: inline-flex;
}







 






